@{    
    ViewData["Title"] = "Fritz";
}

<h1>Thomas' Page</h1>

<p>This is where I write cool stuff</p>

<dl>
    <dt>Order Date:</dt>
    <dd>@Model.OrderDate</dd>
    <dt>Counter:</dt>
    <dt>@Model.Counter</dt>
</dl>
